
.wz-app-4 video{
    
    height: 100%;
    width: 100%;
    background: #000;
    
}

.wz-app-4 .wz-win-maximize{
    
    height: 14px;
    width: 12px;
    
    background: url('https://static.weezeel.com/app/4/sprite.png') -77px 0;
    
}

.wz-app-4.fullscreen .wz-win-maximize{
    background-position: 0 -33px;
}

.wz-app-4 .weevideo-bar{

    height: 5px;
    border-radius: 1px;
        
}

.wz-app-4 .weevideo-bottom-shadow{
    
    height: 138px;
    width: 100%;
    position: absolute;
    bottom: 0px;

    background-image: -moz-linear-gradient(50% 0% -90deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); 
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgba(0,0,0,0)),color-stop(1, rgba(0,0,0,0.5)));
    background-image: -webkit-linear-gradient(-90deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background-image: -o-linear-gradient(-90deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);

}

.wz-app-4 .weevideo-controls{
    
    height: 37px;
    width: 215px;
    float: left;
    margin-left: 50px;
    padding-top: 12px;
    
    background: url('https://static.weezeel.com/app/4/light.png') 41px -1px no-repeat;

}

.wz-app-4 .weevideo-controls-forward{
    
    height: 16px;
    width: 25px;
    float: left;
    margin: 6px 34px;
    
    background: url('https://static.weezeel.com/app/4/sprite.png');
    background-position: -52px 0;
    
}

.wz-app-4 .weevideo-controls-play{
    
    height: 32px;
    width: 28px;
    float: left;
    
    background: url('https://static.weezeel.com/app/4/sprite.png') 0 0;
    
}

.wz-app-4.play .weevideo-controls-play{
    background-position: -77px -15px;
}

.wz-app-4 .weevideo-controls-rewind{
    
    height: 16px;
    width: 25px;
    float: left;
    margin: 6px 34px;
    
    background: url('https://static.weezeel.com/app/4/sprite.png');
    background-position: -28px 0;
    
}

.wz-app-4 .weevideo-info{

    position: absolute;
    bottom: 18px;
    margin-left: 12px;

}

.wz-app-4 .weevideo-info-backprogress{

    width: 465px;
    float: left;
    margin-top:4px;
    opacity: 0;
    
    background-color: rgba(217,217,217,0.3);

}

.wz-app-4 .weevideo-info-buffer{
    
    width: 235px;
    background-color: #F00; 

}

.wz-app-4 .weevideo-info-data{

    font-size: 13px;
    color: #FFF;
    
    height: 13px;
    width: 49px;
    float: left;
    margin: 0 11px;
    opacity:0;

}

.wz-app-4 .weevideo-info-data.currentTime{
    text-align: right;
}

.wz-app-4 .weevideo-info-progress{
    
    position: relative;
    top: -5px;
    width: 0px;

    background-color: #FFF;

}

.wz-app-4 .weevideo-info-seeker{

    height: 22px;
    width: 18px;
    position: relative;
    top: -18px;
    left: -9px;
    
    background: url('https://static.weezeel.com/app/4/sprite.png');
    background-position: -105px -17px;   

}

.wz-app-4 .weevideo-title-icon{
    
    height: 12px;
    width: 17px;
    display: inline-block;
    
    background: url('https://static.weezeel.com/app/4/sprite.png');
    background-position: -89px 0;
    
}

.wz-app-4 .weevideo-title-text{
    
    font-size: 14px;
    color: #FFF;
    
    margin-left: 5px;
    
}

.wz-app-4 .weevideo-top{

    position: absolute;
    top: 0px;
    width: 100%;

}

.wz-app-4 .weevideo-top-shadow{
    
    height: 102px;
    width: 100%;
    float: left;
    padding-top: 20px;
    text-align: center;
    
    background-image: -moz-linear-gradient(50% 0% -90deg,rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); 
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgba(0,0,0,0.75)),color-stop(1, rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(-90deg,rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(-90deg,rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%);
    background-image: linear-gradient(0deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);

}

.wz-app-4 .weevideo-volume-icon{
    
    height: 21px;
    width: 25px;
    float: left;
    
    background: url('https://static.weezeel.com/app/4/sprite.png') -122px -25px;
    
}

.wz-app-4.muted .weevideo-volume-icon{
    background-position: -122px 0;
}

.wz-app-4 .weevideo-volume-current{
    
    width: 44px;
    
    background-color: #d9d9d9;
    
}

.wz-app-4 .weevideo-volume-max{
    
    width: 74px;
    float: left;
    margin-top: 6px;
    margin-left: 9px;
    
    background-color: rgba(217,217,217,0.2);
    
}

.wz-app-4 .weevideo-volume-seeker{

    height: 17px;
    width: 14px;
    position: relative;
    top: -11px;
    left: 37px;
    
    background: url('https://static.weezeel.com/app/4/sprite.png');
    background-position: -106px 0; 

}
