
.wz-win{
    background:#000;
    color: #fff;
    box-sizing: border-box;
    padding: 47px 26px;
}

.weevideo-title{
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.weevideo-bar{
    width: 100%;
    height: 6px;
    background: #fff;
}

.weevideo-info{
    margin: 35px 0px 45px;
}

.weevideo-info-backprogress{
    position: relative;
}

.weevideo-info-buffer{
    width: 0%;
    height: 6px;
    background: rgba( 125, 129, 190, 0.5 );
    position: absolute;
    top: 0;
    left: 0;
}

.weevideo-info-progress{
    width: 0%;
    height: 6px;
    background: #7D81BE;
    position: absolute;
    top: 0;
    left: 0;
}

.weevideo-info-data{
    height: 17px;
    line-height: 17px;
    font-size: 17px;
    margin-top: 6px;
}

.weevideo-info-data.currentTime{
    float: left;
}

.weevideo-info-data.totalTime{
    float: right;
}

.weevideo-controls{
    text-align: center;
}

.weevideo-controls-rewind{
    display: inline-block;
    background: #f00;
    height: 43px;
    margin: 9px 0px;
    width: 72px;
}

.weevideo-controls-play{
    display: inline-block;
    background: #f00;
    height: 61px;
    width: 60px;
    margin: 0px 38px;
}

.wz-win.play .weevideo-controls-play{
    background: #0f0;
}

.weevideo-controls-forward{
    display: inline-block;
    background: #f00;
    height: 43px;
    margin: 9px 0px;
    width: 72px;
}

.weevideo-volume{
    background: #0f0;
    width: 280px;
    margin: 40px auto 0px;
}
