
.wz-win{
    background:#383838;
    background-image: -moz-linear-gradient(50% 0% -90deg,rgba(56,56,56,1) 0%,rgba(46,46,46,1) 100%); 
    background-image: -webkit-linear-gradient(-90deg,rgba(56,56,56,1) 0%,rgba(46,46,46,1) 100%);
    background-image: -o-linear-gradient(-90deg,rgba(56,56,56,1) 0%,rgba(46,46,46,1) 100%);
    background-image: linear-gradient(0deg,rgba(46,46,46,1) 0%,rgba(56,56,56,1) 100%);
    color: #fff;
    box-sizing: border-box;
    padding: 47px 26px;
}

.weevideo-title{
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.weevideo-bar{
    width: 100%;
    height: 6px;
    background: #fff;
}

.weevideo-info{
    margin: 35px 0px 45px;
}

.weevideo-info-backprogress{
    position: relative;
}

.weevideo-info-buffer{
    width: 0%;
    height: 6px;
    background: rgba( 125, 129, 190, 0.5 );
    position: absolute;
    top: 0;
    left: 0;
}

.weevideo-info-progress{
    width: 0%;
    height: 6px;
    background: #7D81BE;
    position: absolute;
    top: 0;
    left: 0;
}

.weevideo-info-data{
    height: 17px;
    line-height: 17px;
    font-size: 17px;
    margin-top: 6px;
}

.weevideo-info-data.currentTime{
    float: left;
}

.weevideo-info-data.totalTime{
    float: right;
}

.weevideo-controls{
    text-align: center;
    height: 63px;
}

.weevideo-controls-rewind{
    display: inline-block;
    height: 45px;
    width: 73px;
    vertical-align: 70%;
}

.weevideo-controls-rewind i{
    background-image: url('@static/mobile/sprite.png');
    background-size: 259px 63px;
    background-position: -113px 0px;
    display: inline-block;
    height: 45px;
    width: 73px;
}

.weevideo-controls-play{
    display: inline-block;
    height: 63px;
    width: 58px;
    margin: 0px 38px;
    text-align: center;
}

.weevideo-controls-play i{
    background-image: url('@static/mobile/sprite.png');
    background-size: 259px 63px;
    background-position: 0px 0px;
    height: 63px;
    width: 55px;
    display: inline-block;
}

.wz-win.play .weevideo-controls-play i{
    background-position: -55px 0px;
    height: 63px;
    width: 58px;
}

.weevideo-controls-forward{
    display: inline-block;
    height: 45px;
    width: 73px;
    vertical-align: 70%;
}

.weevideo-controls-forward i{
    background-image: url('@static/mobile/sprite.png');
    background-size: 259px 63px;
    background-position: -186px 0px;
    height: 45px;
    width: 73px;
    display: inline-block;
}

.weevideo-volume{
    background: #0f0;
    width: 280px;
    margin: 40px auto 0px;
}

.weevideo-volume-max{
    position: relative;
}

.weevideo-seeker{
    width: 12px;
    height: 12px;
    padding: 6px;
    border-radius: 6px;
    /*background: rgba( 0, 255, 0, 0.5 );*/
    position: absolute;
    top: -9px;
    left: -6px;
}

.weevideo-pearl{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.5 );
    background-image: -webkit-linear-gradient( bottom, #D1D1D1, #FFFFFF );
    background-image: -moz-linear-gradient( bottom, #D1D1D1, #FFFFFF );
    background-image: -o-linear-gradient( bottom, #D1D1D1, #FFFFFF );
    background-image: linear-gradient( to top, #D1D1D1, #FFFFFF );
}
